@charset "utf-8";

.mo_none {
  display: none;
}

.main_wrap {
  width: 80%;
  min-width: 295px;
  max-width: 360px;
  margin: 120px auto;
  .login_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 80px 28px;
    border: 1px solid #aaa;
    border-radius: 12px;
    background-color: #eeefff;
    & > h1 {
      text-align: center;
    }
  }
  .login_box {
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .login_input_wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .userid {
      width: 100%;
      padding: 16px 12px;
      border-radius: 4px 4px 0px 0px;
      border: 1px solid #aaa;
      background-color: #fafafa;
    }
    .userpw {
      width: 100%;
      padding: 16px 12px;
      border-radius: 0px 0px 4px 4px;
      border: 1px solid #aaa;
      background-color: #fafafa;
      margin-top: -1px;
    }
    .login_option {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2px;
      margin-top: 8px;
      & > a {
        color: #aaa;
      }
      & > span {
        color: #d9d9d9;
      }
    }
  }
  .to_signup {
    margin: 0 auto;
    & > a {
      margin-left: 16px;
      color: #6269f5;
    }
  }
  .social_login {
    width: 250px;
    margin: 0 auto;
    height: 40px;
  }
}

/* main end */
/* mobile-end */

@media screen and (min-width: 768px) {
  .main_wrap {
    .login_wrap {
      padding: 80px 38px;
    }
    .login_box {
      width: 280px
    }
    .social_login {
      width: 280px;
      height: 45px;
    }
  }
}