@charset "utf-8";

.wrap {
  margin: 0 auto 100px;
  .header {
    padding: 40px 10% 15px;
    position: sticky;
    top: -30px;
    background: #fafafa;
    .topic_wrap {
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .post_type {
        display: flex;
        & > h5:nth-of-type(1) {
          color: #aaa;
          margin-right: 8px;
          cursor: pointer;
        }
      }
      .post_topic {
        & > button {
          padding: 10px 20px;
        }
        .select {
          background-color: #ffffff;
          border: 1px solid #aaa;
          border-radius: 5px;
        }
      }
    }
    .search_wrap {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      & > input {
        width: 100%;
        max-width: 449px;
        padding: 0 16px;
        height: 60px;
        border: 1px solid #aaa;
        border-radius: 3px;
      }
      & > input::placeholder {
        color: #888;
      }
      & > div {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        .btn_to_write {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 60px;
          background-color: #6269f5;
          color: #fff;
          border-radius: 3px;
          padding: 0 21px;
          img {
            width: 20px;
            margin-right: 8px;
          }
        }
        .btn_search {
          height: 60px;
          border: 1px solid #aaa;
          border-radius: 3px;
          color: #6269f5;
          padding: 0 32px;
        }
        .btn_search:hover {
          border: 1px solid #6269f5;
          border-radius: 3px;
          color: #fafafa;
          background-color: #6269f5;
        }
      }
    }
    .sort_wrap {
      margin-top: 20px;
      display: flex;
      justify-content: end;
      gap: 20px;
      .admin_option {
        position: relative;
        .toggle {
          & > img {
            width: 32px;
          }
        }
        .options {
          position: absolute;
          border: 1px solid #aaa;
          border-radius: 5px;
          background-color: #fafafa;
          padding: 4px 0;
          width: 94px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          top: 20px;
          left: -100px;
          & > button {
            padding: 6px 0;
            padding-left: 12px;
            display: flex;
            align-items: center;
            gap: 8px;
            & > img {
              width: 16px;
              height: 16px;
            }
          }
          & > button:hover {
            background-color: #eeefff;
          }
        }
      }
      & > select {
        width: 108px;
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 6px 8px;
      }
    }
  }
  .content_wrap {
    padding: 0 10%;
    .notice {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      background-color: #eeefff;
      border: 1px solid #6269f5;
      border-radius: 5px;
      .label {
        width: 120px;
        background-color: #6269f5;
        color: #fafafa;
        padding: 6px 0;
        text-align: center;
      }
      .notice_content {
        width: 100%;
        .info {
          display: flex;
          flex-direction: row;
          gap: 8px;
          align-items: center;
          & > img:nth-of-type(1) {
            width: 18px;
          }
          & > span {
            display: flex;
            align-items: center;
          }
        }
        & > h5 {
          margin-top: 12px;
          margin-bottom: 4px;
          cursor: pointer;
        }
        .content {
          display: -webkit-box;
          -webkit-line-clamp: 2; /* Webkit 기반 브라우저용 */
          line-clamp: 2; /* 표준 속성 */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
        }
        .reaction {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 10px;
          & > span {
            display: flex;
            align-items: center;
            & > img {
              margin-right: 4px;
            }
          }
        }
      }
    }
    .post_list {
      .post_item {
        padding: 20px 2px;
        border-bottom: 1px solid #d9d9d9;
        display: flex;
        gap: 20px;
        .for_admin {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30px;
          gap: 10px;
          .wb {
            width: 100%;
            text-align: center;
            background-color: #6269f5;
            color: #fff;
          }
          .post_id {
            width: 100%;
            text-align: center;
          }
          & > input {
            width: 100%;
            height: 15px;
          }
        }
        .post_item_wrap {
          flex: 1;
          .post_content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .info {
              display: flex;
              flex-direction: row;
              gap: 8px;
              align-items: center;
              & > img:nth-of-type(1) {
                width: 18px;
              }
              & > span {
                display: flex;
                align-items: center;
              }
            }
            & > h5 {
              margin-top: 12px;
              margin-bottom: 4px;
              cursor: pointer;
            }
            .content {
              display: -webkit-box;
              -webkit-line-clamp: 2; /* Webkit 기반 브라우저용 */
              line-clamp: 2; /* 표준 속성 */
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              cursor: pointer;
            }
            .reaction {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              gap: 10px;
              & > span {
                display: flex;
                align-items: center;
                & > img {
                  margin-right: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
  .pagination {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    & > div {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #888;
      cursor: pointer;
    }
  }
  .qna_reaction {
    display: flex !important;
  }
}
/* main end */
/* mobile-end */

@media screen and (min-width: 768px) {
  .wrap {
    width: 86%;
    .header {
      padding: 80px 0 10px;
      .topic_wrap {
        width: 100%;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        .post_type {
          & > h5 {
            text-wrap: nowrap;
          }
        }
      }
      .search_wrap {
        flex-direction: row;
        justify-content: center;
        & > input {
          margin: 0;
        }
        & > div {
          .btn_to_write {
            width: 152px;
          }
          .btn_search {
            width: 111px;
          }
        }
      }
      .sort_wrap {
        margin-top: 40px;
        & > select {
          width: 120px;
        }
      }
    }
    .content_wrap {
      padding: 0;
      .notice {
        flex-direction: row;
        align-items: flex-start;
        border: none;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #d9d9d9;
        .label {
          width: unset;
          min-width: 93px;
        }
        .notice_content {
          .info {
            & > img:nth-of-type(1) {
              width: 26px;
            }
          }
        }
      }
      .post_list {
        .post_item {
          padding: 20px;
          .post_item_wrap {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 20px;
            .question_reply {
              min-width: 93px;
              cursor: pointer;
              .cnt_zero {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                & > h2 {
                  flex: 1;
                  text-align: center;
                  color: #aaa;
                }
              }
              .cnt {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                & > div:nth-of-type(1) {
                  padding: 6px 0;
                  width: 100%;
                  text-align: center;
                  border-bottom: 1px solid #d9d9d9;
                }
                & > div:nth-of-type(2) {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  flex: 1;
                  margin-top: 6px;
                  & > h2 {
                    color: #aaa;
                  }
                }
              }
              .accepted {
                border: 2px solid #6269f5;
                border-radius: 5px;
                & > div:nth-of-type(2) {
                  & > h2 {
                    color: #6269f5;
                  }
                }
              }
            }
          }
          .post_content {
            .info {
              & > img:nth-of-type(1) {
                width: 26px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .wrap {
    .qna_reaction {
      display: none !important;
    }
  }
}
@media screen and (min-width: 1280px) {
  .wrap {
    max-width: 1280px;
    .content_wrap {
      .notice {
        gap: 40px;
        padding: 20px 40px;
        .label {
          min-width: 135px;
        }
      }
      .post_list {
        .post_item {
          padding: 20px 40px;
          height: 177px;
          gap: 40px;
          .post_item_wrap {
            gap: 40px;
            height: 100%;
            .question_reply {
              min-width: 135px;
              .cnt_zero {
                & > h2 {
                  & > br {
                    display: none;
                  }
                }
              }
              .cnt {
                & > div:nth-of-type(2) {
                  margin-top: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
