@charset "utf-8";

.view_wrap {
  margin: 80px auto;
  .topic {
    padding: 20px 10%;
    .gray {
      color: #aaa;
    }
    & > h4 > span:nth-of-type(1),
    & > h4 > span:nth-of-type(3) {
      cursor: pointer;
    }
    & > h4 > span:nth-of-type(2) {
      margin: 0 8px;
    }
  }
  .content_wrap {
    margin: 20px 0;
    padding: 40px 10%;
    .post_wrap {
      .post_header {
        padding-bottom: 20px;
        border-bottom: 1px solid #efefef;
        .post_header_info {
          margin-top: 12px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
          .writer_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;
            height: 40px;
            & > img {
              width: 34px;
              height: 34px;
            }
            & > div > div {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
          }
          .options {
            display: flex;
            flex-direction: row;
            gap: 8px;
            .share,
            .kebab {
              position: relative;
              .share_list,
              .kebab_list {
                display: flex;
                flex-direction: column;
                gap: 8px;
                position: absolute;
                top: 20px;
                right: 4px;
              }
              .share_list {
                & > div {
                  display: flex;
                  align-items: center;
                  width: 106px;
                  padding: 6px 12px;
                  white-space: nowrap;
                  background-color: #fff;
                  border: 1px solid #aaa;
                  border-radius: 5px;
                  color: #222;
                  cursor: pointer;
                  & > img {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                  }
                }
              }
            }
          }
        }
      }
      .post_content {
        margin-top: 20px;
      }
      .likes {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #efefef;
        & > button {
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 10px 12px;
          border: 1px solid #aaa;
          border-radius: 5px;
          color: #aaa;
          & > img {
            width: 16px;
            height: 16px;
          }
          & > span {
            line-height: 20px;
          }
        }
        .like_on {
          background-color: #6269f5;
          border: #6269f5;
          color: #fff;
        }
        .dislike_on {
          background-color: #aaa;
          border: #aaa;
          color: #fff;
        }
      }
    }
    .comment_wrap {
      margin-top: 20px;
      .comment_write {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        & > img {
          width: 28px;
          height: 28px;
        }
        & > input {
          padding: 17px 16px;
          border: 1px solid #aaa;
          border-radius: 3px;
        }
        & > input::placeholder {
          color: #aaa;
        }
        & > button {
          height: 60px;
          border: 1px solid #aaa;
          border-radius: 3px;
          color: #6269f5;
          background-color: #fafafa;
        }
        & > button:hover {
          background: #6269f5;
          color: #fafafa;
        }
      }
      .comment_list {
        margin-top: 40px;
        .comment_item {
          margin-top: 20px;
          .comment_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            .user_info {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 40px;
              .profile {
                padding: 8px 10px;
                & > img {
                  width: 28px;
                  height: 28px;
                }
              }
              & > div:nth-of-type(2) > div {
                display: flex;
                flex-direction: row;
                align-items: center;
              }
            }
          }
          .comment_body {
            margin-top: 12px;
            margin-left: 48px;
            .likes {
              margin-top: 4px;
              display: flex;
              flex-direction: row;
              gap: 8px;
              & > button {
                display: flex;
                align-items: center;
                color: #aaa;
                & > img {
                  width: 16px;
                  height: 16px;
                  margin-right: 4px;
                }
              }
            }
            .child_wrap {
              margin-top: 20px;
              .child_list {
                .child_item {
                  margin-top: 10px;
                  .child_header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: end;
                    .user_info {
                      display: flex;
                      height: 44px;
                      .profile {
                        padding: 8px 10px;
                        & > img {
                          width: 28px;
                          height: 28px;
                        }
                      }
                    }
                  }
                  .child_body {
                    margin-top: 12px;
                    margin-left: 48px;
                    .likes {
                      margin-top: 4px;
                      display: flex;
                      flex-direction: row;
                      gap: 8px;
                      & > button {
                        display: flex;
                        align-items: center;
                        color: #aaa;
                        & > img {
                          width: 16px;
                          height: 16px;
                          margin-right: 4px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .write_child {
              margin-top: 20px;
              .form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                & > img {
                  width: 28px;
                  height: 28px;
                  margin: 0px 10px;
                }
                & > input {
                  padding: 17px 16px;
                  border: 1px solid #aaa;
                  border-radius: 3px;
                }
                & > input::placeholder {
                  color: #aaa;
                }
                & > button {
                  height: 60px;
                  border: 1px solid #aaa;
                  border-radius: 3px;
                  color: #6269f5;
                  background-color: #fafafa;
                }
                & > button:hover {
                  background: #6269f5;
                  color: #fafafa;
                }
              }
              & > button {
                display: block;
                margin: 20px auto 0;
              }
            }
          }
        }
      }
    }
  }
}

/* main end */
/* mobile-end */

@media screen and (min-width: 768px) {
  .view_wrap {
    width: 86%;
    .topic {
      padding: 20px 40px;
      border: 1px solid #aaa;
      border-radius: 5px;
      background-color: #fff;
    }
    .content_wrap {
      border: 1px solid #aaa;
      border-radius: 5px;
      background-color: #fff;
      padding: 40px;
      .comment_wrap {
        .comment_write {
          flex-direction: row;
          align-items: center;
          & > input {
            flex: 1;
          }
          & > button {
            min-width: 110px;
          }
        }
        .comment_list {
          margin-left: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .view_wrap {
    max-width: 1280px;
  }
}
