@charset "utf-8";

.home_wrap {
  margin: 40px auto;

  .content_wrap {
    padding: 0 10%;
    .review_wrap,
    .community_wrap {
      margin-top: 80px;
      .header {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        & > h3 {
          white-space: nowrap;
        }
        .tab_wrap {
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5px;
          .tab {
            display: flex;
            flex-direction: row;
            gap: 2px;
            flex-wrap: nowrap;
            & > button {
              padding: 0 10px;
              height: 30px;
              flex: none;
              color: #888;
              & > h5 {
                line-height: 22px;
              }
            }
            .current_tab {
              background-color: #6269f5;
              color: #fafafa;
              border-radius: 5px;
            }
          }
          .btn_more {
            color: #aaa;
            display: flex;
            align-items: center;
            margin-left: auto;
            line-height: 22px;
            font-size: 0;
            & > img {
              width: 14px;
              height: 7px;
            }
          }
        }
      }
    }
    .community_wrap {
      .body_wrap {
        & > ul {
          .item {
            margin-top: 20px;
            .type {
              width: fit-content;
              padding: 2px 8px;
              border: 1px solid #aaa;
              border-radius: 5px;
              color: #aaa;
              height: 26px;
            }
            .content {
              margin-top: 8px;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              gap: 10px;
              justify-content: space-between;
              overflow: hidden;
              .title_wrap {
                display: flex;
                flex-direction: column;
                gap: 4px;
                justify-content: space-between;
                overflow: hidden;
                .title {
                  text-wrap: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 500px;
                  cursor: pointer;
                }
                .user_info {
                  display: flex;
                  align-items: center;
                  & > span {
                    color: #888;
                  }
                  & > img {
                    width: 18px;
                    height: 18px;
                    margin-left: 4px;
                    margin-right: 20px;
                  }
                }
              }
              .reaction {
                display: flex;
                flex-direction: row;
                gap: 10px;
                justify-content: flex-start;
                & > span {
                  display: flex;
                  gap: 4px;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
    .review_wrap {
      margin-top: 80px;
    }
  }
}

/* main end */
/* mobile-end */

@media screen and (min-width: 768px) {
  .home_wrap {
    margin-top: 80px;
    width: 86%;
    .content_wrap {
      padding: 0;
      .review_wrap,
      .community_wrap {
        margin-top: 120px;
        .header {
          .tab_wrap {
            .btn_more {
              font-size: 1.8rem;
            }
          }
        }
      }
      .community_wrap {
        .body_wrap {
          & > ul {
            .item {
              display: flex;
              flex-direction: row;
              gap: 8px;
              overflow: hidden;
              .type {
                flex-shrink: 0;
                height: 29px;
              }
              .content {
                flex-grow: 1;
                margin-top: 0;
                justify-content: space-between;
                .title_wrap {
                  width: 100%;
                  flex-direction: row;
                  flex-grow: 1;
                  flex-wrap: nowrap;
                  overflow: hidden;
                  .title {
                    max-width: unset;
                    flex-grow: 1;
                  }
                  .user_info {
                    flex-shrink: 0;
                    margin-left: unset;
                  }
                }
                .reaction {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .home_wrap {
    max-width: 1280px;
    .content_wrap {
      .review_wrap,
      .community_wrap {
        margin-top: 160px;
      }
      .community_wrap {
        .body_wrap {
          & > ul {
            .item {
              gap: 10px;
              .content {
                flex-direction: row;
                gap: 20px;
                align-items: center;
                .title_wrap {
                  width: unset;
                  gap: 20px;
                }
                .reaction {
                  width: 183px;
                }
              }
            }
          }
        }
      }
    }
  }
}
