@charset "utf-8";

.modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 65px;
  background: #6269f5;
  font-size: 1.8rem;
  color: #ffffff;
  .btn-close > img {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

.modal-form {
  padding: 40px;
  height: auto;
}

.modal-button {
  display: flex;
  justify-content: center;
  padding: 20px 28px;
  background: #eee;
}

//내부 폼
.explanation {
  font-size: 1.4rem;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 40px;
  font-size: 1.4rem;
  flex-wrap: wrap;
  & > label {
    width: 100px;
  }
  .item-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    max-width: 310px;
    & > input {
      padding: 10px 20px;
      max-width: 310px;
      width: 100%;
      height: 38px;
      border-radius: 5px;
      border: 1px solid #aaa;
    }
    & > p {
      max-width: 310px;
      padding: 0px 20px;
      font-size: 1.2rem;
      overflow-wrap: anywhere;
    }
  }
}

/* mobile-end */

@media screen and (min-width: 768px) {
  .modal-title {
    .btn-close > img {
      width: 18px;
      height: 18px;
    }
  }

  .modal-button {
    justify-content: flex-end;
  }

  //내부 폼
  .explanation {
    font-size: 1.6rem;
  }
  .item {
    font-size: 1.6rem;
    flex-wrap: nowrap;
    .item-input {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: none;
      & > p {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .modal-title {
    font-size: 2rem;
    .btn-close > img {
      width: 20px;
      height: 20px;
    }
  }

  //내부 폼
  .item {
    .item-input {
      & > p {
        max-width: none;
      }
    }
  }
}
