@charset "utf-8";

.wrap {
  margin: 40px auto 100px;
  width: 80%;
  .nav_wrap {
    .for_mo {
      width: 100%;
      height: 50px;
      border: 1px solid #aaa;
      border-radius: 5px;
      background-color: #fff;
      padding: 0 20px;
      color: #222;
    }
    .for_tab {
      display: none;
    }
  }
  .content_wrap {
    margin-top: 20px;
    .profile_wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 20px;
      .user_info {
        .info {
          display: flex;
          flex-direction: row;
          align-items: center;
          & > img {
            width: 18px;
            height: 18px;
            margin-right: 4px;
          }
          .nickname {
            margin-right: 10px;
          }
        }
        .gauge {
          margin-top: 20px;
          .range {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 4px;
            & > span {
              color: #888;
            }
          }
        }
      }
    }
    .activity {
      .title {
        display: flex;
        & > h5 {
          margin-right: 12px;
        }
        & > a {
          display: flex;
          align-items: center;
        }
      }
      .content {
        margin-top: 16px;
        & > ul {
          display: flex;
          flex-direction: column;
          gap: 8px;
          & > li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & > span {
              color: #888;
            }
          }
        }
      }
    }
  }
}

.home_wrap {
  margin-top: 40px;
  .review_wrap,
  .community_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .community_wrap {
    margin-top: 20px;
  }
  .item_wrap {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 20px;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .item_list {
      margin-top: 28px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .title {
          text-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .reaction {
          display: flex;
          justify-content: flex-end;
          gap: 8px;
          & > img {
            width: 26px;
            height: 26px;
          }
          & > span {
            display: flex;
            align-items: center;
            text-wrap: nowrap;
          }
        }
      }
    }
  }
}

/* main end */
/* mobile-end */

@media screen and (min-width: 768px) {
  .wrap {
    margin-top: 80px;
    width: 86%;
    .nav_wrap {
      margin: 0 auto;
      .for_mo {
        display: none;
      }
      .for_tab {
        display: flex;
        flex-direction: row;
        justify-content: center;
        & > button {
          height: 45px;
          padding: 0 20px;
          color: #222;
        }
        .active {
          background-color: #fff;
          border: 1px solid #aaa;
          border-radius: 5px;
        }
      }
    }
    .content_wrap {
      margin-top: 40px;
      .profile_wrap {
        flex-direction: row;
        gap: 80px;
        .user_info {
          flex: 1;
          .info {
            flex-direction: column;
            .profile_image {
              margin: 20px auto;
              width: 80px;
              height: 80px;
            }
            .nickname {
              display: none;
            }
            .level_imamge {
              width: 38px;
              height: 38px;
              margin-bottom: 4px;
            }
          }
        }
        .activity {
          flex: 1;
        }
      }
    }
  }
  .home_wrap {
    .review_wrap,
    .community_wrap {
      flex-direction: row;
    }
    .item_wrap {
      min-width: calc(50% - 10px);
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrap {
    .nav_wrap {
      .for_tab {
        justify-content: flex-end;
      }
    }
    .content_wrap {
      display: flex;
      flex-direction: row;
      gap: 40px;
      .profile_wrap {
        min-width: 310px;
        flex-direction: column;
      }
    }
  }
  .home_wrap {
    margin-top: 0px;
    min-width: 0;
    flex-grow: 1;
    .review_wrap,
    .community_wrap {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: 1280px;
  }
  .home_wrap {
    .review_wrap,
    .community_wrap {
      flex-direction: row;
    }
  }
}
