@charset "utf-8";

.wrap {
  margin: 40px auto 100px;
  width: 80%;
  .nav_wrap {
    .for_mo {
      width: 100%;
      height: 50px;
      border: 1px solid #aaa;
      border-radius: 5px;
      background-color: #fff;
      padding: 0 20px;
      color: #222;
    }
    .for_tab {
      display: none;
    }
  }
  .content_wrap {
    margin-top: 20px;
    .profile_wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: fit-content;
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 20px;
      .user_info {
        .info {
          display: flex;
          flex-direction: row;
          align-items: center;
          & > img {
            width: 18px;
            height: 18px;
            margin-right: 4px;
          }
          .profile {
            display: flex;
            align-items: center;
            cursor: pointer;
            & > img {
              width: 18px;
              height: 18px;
              margin-right: 4px;
            }
          }
          .nickname {
            margin-right: 10px;
          }
        }
        .gauge {
          margin-top: 20px;
          .values {
            & > span {
              font-size: 0;
              text-wrap: nowrap;
            }
            & > span:hover {
              font-size: unset;
            }
          }
          .range {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 4px;
            & > span {
              color: #888;
            }
          }
        }
      }
    }
    .activity {
      .title {
        display: flex;
        align-items: baseline;
        & > h5 {
          margin-right: 12px;
        }
        & > a {
          display: flex;
          align-items: center;
        }
      }
      .content {
        margin-top: 16px;
        & > ul {
          display: flex;
          flex-direction: column;
          gap: 8px;
          & > li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & > span {
              color: #888;
            }
          }
        }
      }
    }
  }
}

.home_wrap {
  margin-top: 40px;
  .review_wrap,
  .community_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .community_wrap {
    margin-top: 20px;
  }
  .item_wrap {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 20px;
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    .item_list {
      margin-top: 28px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
        .title {
          text-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .reaction {
          display: flex;
          justify-content: space-between;
          & > img {
            width: 26px;
            height: 26px;
          }
          & > div {
            display: flex;
            gap: 8px;
            & > span {
              display: flex;
              align-items: center;
              text-wrap: nowrap;
            }
          }
        }
      }
      .not_yet {
        display: flex;
        flex-direction: row;
        gap: 8px;
        flex-wrap: wrap;
        & > span {
          color: #aaa;
        }
      }
    }
  }
}

.info_wrap {
  margin-top: 40px;
  .user_info_wrap {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .sub_nav {
      display: flex;
      flex-direction: row;
      gap: 26px;
      & > div {
        color: #888;
        cursor: pointer;
      }
      .current {
        border-bottom: 1px solid #aaa;
      }
    }
    .content {
      .basic_info,
      .password {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .item {
          display: flex;
          flex-direction: column;
          gap: 4px;
          & > label {
            color: #444;
          }
          input {
            max-width: 340px;
          }
          input::placeholder {
            color: #aaa;
          }
          input:disabled {
            color: #aaa;
          }
          & > div {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            .checkmsg {
              margin-top: 6px;
              margin-left: 6px;
              color: #ff4444;
            }
          }
          .social_ico {
            display: flex;
            flex-direction: row;
            gap: 4px;
            flex-grow: unset;
            & > img {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }
    .btn {
      display: flex;
      justify-content: flex-end;
      & > button {
        height: 48px;
        padding: 0 32px;
        color: #fafafa;
        background-color: #6269f5;
        border-radius: 3px;
      }
    }
  }
  .total_career {
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: relative;
    .title {
      display: flex;
      align-items: baseline;
      & > span {
        color: #888;
        margin-right: 8px;
      }
      & > img {
        cursor: pointer;
      }
      .tooltip {
        position: absolute;
        border: 1px solid #aaa;
        border-radius: 5px;
        background-color: #fafafa;
        padding: 4px 8px;
        color: #888;
        left: 80px;
        bottom: 50px;
      }
    }
    .career {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      & > h4 {
        margin-left: 8px;
        margin-right: 4px;
      }
    }
  }
  .career_list {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    .career_detail {
      min-width: 295px;
      flex-grow: 1;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        label {
          color: #888;
        }
        .period_label {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          & > div:nth-of-type(1) {
            display: flex;
            flex-direction: row;
            align-items: center;
            input {
              width: 18px;
              height: 18px;
            }
            label {
              margin-left: 5px;
            }
          }
        }
        .date_pickr {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          gap: 8px;
        }
        .kebab {
          float: right;
          position: relative;
          .edit {
            position: absolute;
            right: 4px;
            z-index: 6;
            padding: 6px 12px;
            white-space: nowrap;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
      .total {
        & > h3 {
          display: inline;
          vertical-align: middle;
          margin-right: 4px;
        }
      }
      .btn {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        & > button {
          height: 48px;
          padding: 0 32px;
          border-radius: 3px;
        }
        .cancel {
          color: #fafafa;
          background-color: #aaa;
        }
        .submit {
          color: #fafafa;
          background-color: #6269f5;
        }
      }
    }
    .off_edit {
      background: url(@/assets/images/img_blue8.png) no-repeat, #eeefff;
      background-position: right bottom;
      .item {
        input {
          border: 0px;
          background: unset;
          cursor: unset;
          opacity: unset;
        }
        select {
          border: 0px;
          background: unset;
          color: #222;
          opacity: unset;
          -webkit-appearance: none; /* WebKit 기반 브라우저용 */
          -moz-appearance: none; /* Firefox용 */
          appearance: none; /* 표준 속성 */
        }
        .date_pickr {
          & > input {
            width: 70px;
            padding: 0;
            height: unset;
            opacity: unset;
          }
          & > input::placeholder {
            color: #222;
          }
        }
      }
    }
    .on_edit {
      background: unset;
      background-color: #efefef;
      .item {
        input {
          border: 1px solid #aaa;
          border-radius: 5px;
          background: #fff;
          padding-left: 16px;
          height: 48px;
          cursor: pointer;
        }
        select {
          border: 1px solid #aaa;
          border-radius: 5px;
          background: #fff;
          padding-left: 16px;
          height: 48px;
          cursor: pointer;
          color: #222;
        }
        .corpname {
          background-color: #d9d9d9;
          cursor: unset;
        }
        .date_pickr {
          & > input {
            width: calc(50% - 4px);
          }
        }
      }
    }
  }
}

.community_wrap {
  margin-top: 40px;
  .post_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .post_item {
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      .title {
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Webkit 기반 브라우저용 */
        line-clamp: 1; /* 표준 속성 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      .content {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Webkit 기반 브라우저용 */
        line-clamp: 2; /* 표준 속성 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      .reaction_wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .date {
          color: #aaa;
        }
        .reaction {
          display: flex;
          flex-direction: row;
          gap: 10px;
          & > span {
            display: flex;
            gap: 4px;
            align-items: center;
          }
          .accepted {
            font-size: 0;
            gap: 0;
          }
        }
      }
    }
  }
}

.review_wrap {
  margin-top: 40px;
  .review_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .review_item {
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      .item_header {
        display: flex;
        justify-content: space-between;
        .corp_name {
          flex: 1;
          display: -webkit-box;
          -webkit-line-clamp: 1; /* Webkit 기반 브라우저용 */
          line-clamp: 1; /* 표준 속성 */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: pointer;
        }
        .kebab {
          position: relative;
          .kebab_list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            position: absolute;
            top: 20px;
            right: 4px;
            .kebab_item {
              width: 55px;
              padding: 6px 12px;
              white-space: nowrap;
              background-color: #fff;
              border: 1px solid #aaa;
              border-radius: 5px;
              color: #222;
              cursor: pointer;
            }
          }
        }
      }
      .highlight {
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Webkit 기반 브라우저용 */
        line-clamp: 1; /* 표준 속성 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 4px;
      }
      .review_body {
        margin-top: 20px;
        .review_content {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .total_score {
            display: flex;
            gap: 4px;
            align-items: flex-start;
            & > span,
            & > h5 {
              line-height: 25px;
              height: 25px;
              text-align: center;
            }
          }
          .score_detail {
            margin-top: 8px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            & > li {
              min-width: 108px;
              .score_bar {
                display: flex;
                align-items: center;
                gap: 4px;
                & > span {
                  color: #888;
                }
              }
            }
          }
          .review_detail_wrap {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .info {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
              & > img {
                height: 16px;
                margin-right: 5px;
              }
              & > span {
                color: #888;
              }
              & > span:not(:last-child)::after {
                content: "·";
                display: inline-block;
                width: 17px;
                margin-left: 4px;
                margin-right: 4px;
                text-align: center;
              }
            }
          }
        }
        .like {
          display: flex;
          flex-direction: row;
          justify-content: end;
          align-items: center;
          margin-top: 20px;
          gap: 4px;
        }
      }
      .reaction_wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4px;
        .date {
          color: #aaa;
        }
        .reaction {
          display: flex;
          flex-direction: row;
          gap: 10px;
          & > span {
            display: flex;
            gap: 4px;
            align-items: center;
          }
        }
      }
    }
  }
}

/* main end */
/* mobile-end */

@media screen and (min-width: 768px) {
  .wrap {
    margin-top: 80px;
    width: 86%;
    .nav_wrap {
      margin: 0 auto;
      .for_mo {
        display: none;
      }
      .for_tab {
        display: flex;
        flex-direction: row;
        justify-content: center;
        & > button {
          height: 45px;
          padding: 0 20px;
          color: #222;
          text-wrap: nowrap;
        }
        .active {
          background-color: #fff;
          border: 1px solid #aaa;
          border-radius: 5px;
        }
      }
    }
    .content_wrap {
      margin-top: 40px;
      .profile_wrap {
        flex-direction: row;
        gap: 80px;
        .user_info {
          flex: 1;
          .info {
            flex-direction: column;
            .profile {
              & > img {
                margin: 20px auto;
                width: 80px;
                height: 80px;
              }
            }
            .profile_image {
              margin: 20px auto;
              width: 80px;
              height: 80px;
            }
            .nickname {
              display: none;
            }
            .level_image {
              width: 38px;
              height: 38px;
              margin-bottom: 4px;
            }
          }
        }
        .activity {
          flex: 1;
        }
      }
    }
  }
  .home_wrap {
    .review_wrap,
    .community_wrap {
      flex-direction: row;
    }
    .item_wrap {
      min-width: calc(50% - 10px);
    }
  }
  .info_wrap {
    .user_info_wrap {
      .sub_nav {
        gap: 56px;
      }
      .content {
        .basic_info,
        .password {
          .item {
            flex-direction: row;
            gap: 20px;
            & > label {
              min-width: 100px;
              line-height: 55px;
              margin-bottom: 0;
            }
            .social_ico {
              align-items: center;
            }
          }
        }
        .password {
          .item {
            & > label {
              min-width: 120px;
            }
          }
        }
      }
      .btn {
        & > button {
          height: 54px;
        }
      }
    }
    .total_career {
      padding: 40px;
      .title {
        .tooltip {
          bottom: 70px;
        }
      }
    }
    .career_list {
      .career_detail {
        max-width: calc(50% - 10px);
        .btn {
          & > button {
            height: 54px;
          }
        }
      }
      .on_edit {
        .item {
          input {
            height: 54px;
          }
          select {
            height: 54px;
          }
        }
      }
    }
  }
  .community_wrap {
    .post_list {
      .post_item {
        .reaction_wrap {
          .reaction {
            .accepted {
              font-size: 1.6rem;
              line-height: 20px;
              gap: 4px;
            }
          }
        }
      }
    }
  }
  .review_wrap {
    .review_list {
      .review_item {
        .review_body {
          .review_content {
            flex-direction: row;
            .score_detail {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrap {
    .nav_wrap {
      .for_tab {
        justify-content: flex-end;
      }
    }
    .content_wrap {
      display: flex;
      flex-direction: row;
      gap: 40px;
      .profile_wrap {
        min-width: 310px;
        flex-direction: column;
      }
    }
  }
  .home_wrap {
    margin-top: 0px;
    min-width: 0;
    flex-grow: 1;
    .review_wrap,
    .community_wrap {
      flex-direction: column;
    }
  }
  .info_wrap {
    margin-top: 0px;
    min-width: 0;
    flex-grow: 1;
    .career_list {
      .career_detail {
        max-width: unset;
        width: 100%;
      }
    }
  }
  .community_wrap {
    margin-top: 0px;
    min-width: 0;
    flex-grow: 1;
  }
  .review_wrap {
    margin-top: 0px;
    min-width: 0;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: 1280px;
  }
  .home_wrap {
    .review_wrap,
    .community_wrap {
      flex-direction: row;
    }
  }
  .info_wrap {
    .career_list {
      .career_detail {
        max-width: calc(50% - 10px);
      }
    }
  }
}
