@charset "utf-8";

/* mobile */
/* z-index (.modal : 10) (.nav-wrap : 11) */

.mo {
  display: block !important;
}
.pc {
  display: none !important;
}

header {
  position: sticky;
  width: 100%;
  height: 73px;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 9;
  background: #fafafa;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  .bg_white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
    z-index: 10;
  }

  .header_wrap {
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 16px;
    margin: 0 auto;
    line-height: 1.6;
    .logo {
      display: block;
      width: 120px;
      height: 37px;
      background: url(@/assets/images/logo_NeedU.png) no-repeat center/95%;
    }

    .nav_wrap {
      z-index: 11;
      position: relative;
    }
  }

  .btn_ham_gnb {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    cursor: pointer;
    & > span {
      display: block;
      width: 100%;
      height: 2px;
      margin-bottom: 8px;
      margin-top: 8px;
      background-color: #000;
      border-radius: 4px;
    }
  }

  nav {
    display: none;
    width: 100%;
    float: right;
    max-width: 300px;
    .gnb_wrap {
      margin-top: 80px;
      width: 100%;
      margin-right: 60px;
    }
    .gnb {
      & > li {
        margin-bottom: 40px;
        & > a {
          display: block;
          width: 100%;
          height: fit-content;
          line-height: 1.8;
        }
        & > a::after {
          content: "";
          display: inline-block;
          width: 5px;
          height: 10px;
          margin-left: 12px;
          background: url(@/assets/images/ico_arrow_R.png) no-repeat
            bottom/contain;
        }
      }
      .parent {
        cursor: pointer;
      }
      .parent::after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 5px;
        margin-left: 12px;
        vertical-align: middle;
        background: url(@/assets/images/ico_arrow_down_gnb.png) no-repeat
          center/contain;
      }
      .expand::after {
        transform: rotate(180deg) !important;
      }
      .child {
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        padding: 30px 28px;
        gap: 20px;
        & > div {
          border-bottom: 1px solid #d9d9d9;
        }
      }
    }
  }
  .show {
    display: block !important;
  }
  .usersign {
    margin-top: 80px; /* 중첩돼서 80px로 구현됨 */
    display: flex;
    justify-content: space-between;
    & > a {
      display: block;
      line-height: 1.8;
    }
    .login::before {
      content: "";
      display: inline-block;
      transform: translateY(4px);
      width: 18px;
      height: 18px;
      margin-right: 3px;
      background: url(@/assets/images/ico_login.png) no-repeat center/contain;
    }
    .signup::before {
      content: "";
      display: inline-block;
      transform: translateY(4px);
      width: 18px;
      height: 18px;
      margin-right: 3px;
      background: url(@/assets/images/ico_signup.png) no-repeat center/contain;
    }
    .signup {
      width: 45%;
    }
    .nickname {
      display: inline-block !important;
      width: 50%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      & > img {
        transform: translateY(4px);
        width: 18px;
        height: 18px;
        margin-right: 3px;
      }
    }
    .logout::before {
      content: "";
      display: inline-block;
      transform: translateY(4px);
      width: 18px;
      height: 18px;
      margin-right: 3px;
      background: url(@/assets/images/ico_logout.png) no-repeat center/contain;
    }
    .logout {
      cursor: pointer;
      width: 45%;
      white-space: nowrap;
      line-height: 1.8;
    }
  }
}

/* mobile-end */

@media screen and (min-width: 1024px) {
  .mo {
    display: none !important;
  }
  .pc {
    display: block !important;
  }
  header {
    height: 97px;
    .header_wrap {
      padding: 40px 0px 20px;
      .logo {
        flex-shrink: 0;
      }
      .nav_wrap {
        width: 100%;
        max-width: calc(100% - 120px);
        flex: 1;
        display: flex;
        align-items: center;
      }
    }
    .btn_ham_gnb {
      display: none;
    }
    nav {
      max-width: unset;
      float: unset;
      display: flex !important;
      justify-content: space-between !important;
      gap: 20px;
      .gnb_wrap {
        margin: 0;
        width: fit-content;
        display: flex;
        justify-content: flex-end;
        flex-flow: row-reverse;
      }
      .gnb {
        display: flex;
        min-width: fit-content;
        .parent_li {
          position: relative;
        }
        .parent::after {
          display: none;
        }
        .child {
          display: flex;
          position: absolute;
          background-color: #fafafa;
          border: 1px solid #aaa;
          border-radius: 5px;
          padding: 10px 20px;
          gap: 10px;
        }
      }
      /* ul */
      .gnb li {
        margin: 0;
        margin-left: 20px;
        text-wrap: nowrap;
      }
      .gnb li a::after {
        display: none;
      }
      .beta > img {
        right: 0px;
        top: -20px;
      }
    }

    .usersign {
      margin: 0;
      overflow: hidden;
      flex-grow: 1;
      justify-content: end;
      & > a {
        margin: 0;
      }
      .login::before {
        display: none;
      }
      .signup::before {
        display: none;
      }
      .logout::before {
        display: none;
      }
      .nickname {
        width: auto;
      }
      .logout {
        width: unset;
        display: inline-block !important;
      }
      .signup {
        width: unset;
      }
      & > a:first-child {
        margin-right: 20px;
      }
    }
  }
}
// /* 768 end */
// /* 1024 */
@media screen and (min-width: 1024px) {
  /* .gnb-wrap{
  width:75%;
} */
  nav {
    .gnb_wrap {
      .gnb li {
        margin-left: 30px;
      }
    }
  }
  .usersign {
    .logout::before {
      display: none;
    }
    .logout {
      min-width: 66px;
    }
    .logout span {
      display: block;
      width: auto;
    }
  }
}

@media screen and (min-width: 1280px) {
  header {
    .header_wrap {
      max-width: 1280px;
    }
    nav {
      .gnb_wrap {
        .gnb {
          margin-left: 100px;
          li {
            margin-right: 30px;
          }
        }
      }
    }
  }
}
