@charset "utf-8";

.detail_working_wrap {
  margin: 80px auto;
  .corp_info {
    background-color: #6269f5;
    padding: 40px;
    .corp_name {
      color: #fafafa;
      line-height: 34px;
    }
    .corp_location {
      margin-top: 5px;
      color: #fafafa;
    }
    .hashtag {
      margin-top: 8px;
      color: #fafafa;
    }
  }
  section {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    .tab {
      display: flex;
      flex-direction: row;
      & > div {
        width: 130px;
        height: 40px;
        line-height: 22px;
        padding: 8px 20px;
        color: #aaa;
        border: 1px solid #aaa;
        border-radius: 5px 5px 0 0;
        text-align: center;
        cursor: pointer;
      }
      .current {
        color: #fafafa;
        background-color: #6269f5;
        border: 1px solid #6269f5;
      }
    }
  }
}
