@charset "utf-8";

.comment_wrap {
  margin-top: 20px;
  .comment_write {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & > img {
      width: 28px;
      height: 28px;
    }
    & > div > div {
      padding: 17px 16px;
      min-height: 60px;
    }
    & > button {
      height: 60px;
      border: 1px solid #aaa;
      border-radius: 3px;
      color: #6269f5;
      background-color: #fafafa;
    }
    & > button:hover {
      background: #6269f5;
      color: #fafafa;
    }
  }
  .comment_list {
    margin-top: 40px;
    .comment {
      margin-top: 20px;
      .comment_item {
        margin-top: 10px;
        .comment_header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
          .user_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40px;
            .profile {
              padding: 8px 10px;
              & > img {
                width: 28px;
                height: 28px;
              }
            }
            & > div:nth-of-type(2) > div {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
          }
        }
        .comment_body {
          margin-top: 12px;
          margin-left: 48px;
          .likes {
            margin-top: 4px;
            display: flex;
            flex-direction: row;
            gap: 8px;
            & > button {
              display: flex;
              align-items: center;
              color: #aaa;
              & > img {
                width: 16px;
                height: 16px;
                margin-right: 4px;
              }
            }
            & > button:hover {
              color: #222;
            }
          }
        }
      }
      .child_wrap {
        margin-top: 20px;
        margin-left: 48px;
      }
      .write_child {
        margin-top: 20px;
        margin-left: 48px;
        .form {
          display: flex;
          flex-direction: column;
          gap: 20px;
          & > img {
            width: 28px;
            height: 28px;
            margin: 0px 10px;
          }
          & > button {
            height: 60px;
            border: 1px solid #aaa;
            border-radius: 3px;
            color: #6269f5;
            background-color: #fafafa;
          }
          & > button:hover {
            background: #6269f5;
            color: #fafafa;
          }
        }
        & > button {
          display: block;
          margin: 20px auto 0;
        }
      }
    }
  }
}

/* main end */
/* mobile-end */

@media screen and (min-width: 768px) {
  .comment_wrap {
    .comment_write {
      flex-direction: row;
      align-items: center;
      & > button {
        min-width: 110px;
      }
    }
    .comment_list {
      margin-left: 20px;
      .comment {
        .write_child {
          margin-top: 20px;
          .form {
            flex-direction: row;
            align-items: center;
            & > button {
              min-width: 110px;
            }
          }
          & > button {
            display: block;
            margin: 20px auto 0;
          }
        }
      }
    }
  }
}
