@charset "utf-8";

.comment_wrap {
  margin-top: 20px;
  .comment_write {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & > img {
      width: 28px;
      height: 28px;
    }
    & > div > div {
      padding: 17px 16px;
      min-height: 48px;
    }
    & > button {
      min-height: 48px;
      border: 1px solid #aaa;
      border-radius: 3px;
      color: #6269f5;
      background-color: #fafafa;
    }
    & > button:hover {
      background: #6269f5;
      color: #fafafa;
    }
  }
  .comment_list {
    margin-top: 40px;
    .comment {
      margin-top: 20px;
      .comment_item {
        margin-top: 10px;
        padding: 10px;
        .comment_header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
          .user_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40px;
            .profile {
              padding: 8px 10px;
              & > img {
                width: 28px;
                height: 28px;
              }
            }
            & > div:nth-of-type(2) > div {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
            .btn_accept {
              display: flex;
              align-items: center;
              margin-left: 20px;
              padding: 0px 12px;
              height: 36px;
              border: 1px solid #aaa;
              border-radius: 5px;
              color: #aaa;
              min-width: 102px;
              & > img {
                width: 18px;
                height: 18px;
                margin-right: 4px;
              }
            }
            .accepted {
              border: 1px solid #6269f5;
              background-color: #6269f5;
              color: #fafafa;
            }
          }
        }
        .comment_body {
          margin-top: 12px;
          & > div:nth-of-type(1) > div {
            padding: 17px 16px;
            min-height: 60px;
          }
          .btn_wrap {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 20px;
            margin-top: 15px;
            & > button {
              min-width: 110px;
              height: 60px;
              border: 1px solid;
              border-radius: 3px;
            }
            .cancel {
              border-color: #aaa;
              background-color: #aaa;
              color: #fafafa;
            }
            .edit {
              border-color: #aaa;
              background-color: #fafafa;
              color: #6269f5;
            }
            .edit:hover {
              background: #6269f5;
              color: #fafafa;
            }
          }
          .likes {
            margin-top: 4px;
            display: flex;
            flex-direction: row;
            gap: 8px;
            & > button {
              display: flex;
              align-items: center;
              color: #aaa;
              & > img {
                width: 16px;
                height: 16px;
                margin-right: 4px;
              }
            }
            & > button:nth-of-type(3):hover {
              color: #222;
            }
          }
        }
      }
      .comment_is_accepted {
        border: 1px solid #6269f5;
        border-radius: 5px;
        background-color: #eeefff;
      }
      .child_wrap {
        margin-top: 20px;
        & > button {
          padding-left: 20px;
        }
        .child_list {
          .comment_body {
            margin-left: 48px;
          }
        }
      }
      .write_child {
        margin-top: 20px;
        margin-left: 48px;
        .form {
          display: flex;
          flex-direction: column;
          gap: 20px;
          & > img {
            width: 28px;
            height: 28px;
            margin: 0px 10px;
          }
          & > button {
            min-height: 48px;
            border: 1px solid #aaa;
            border-radius: 3px;
            color: #6269f5;
            background-color: #fafafa;
          }
          & > button:hover {
            background: #6269f5;
            color: #fafafa;
          }
        }
        & > button {
          display: block;
          margin: 20px auto 0;
        }
      }
    }
  }
}

/* main end */
/* mobile-end */

@media screen and (min-width: 768px) {
  .comment_wrap {
    .comment_write {
      flex-direction: row;
      align-items: center;
      & > div > div {
        min-height: 60px;
      }
      & > button {
        min-width: 110px;
        min-height: 60px;
        align-self: stretch;
      }
    }
    .comment_list {
      .comment {
        .comment_item {
          .comment_body {
            margin-left: 48px;
          }
        }
        .child_wrap {
          margin-left: 38px;
        }
        .write_child {
          margin-top: 20px;
          .form {
            flex-direction: row;
            align-items: center;
            & > button {
              min-width: 110px;
              min-height: 60px;
              align-self: stretch;
            }
          }
          & > button {
            display: block;
            margin: 20px auto 0;
          }
        }
      }
    }
  }
}
