@charset "utf-8";

/* default */
body {
  color: #000;
  font-size: 1.6rem;
  font-family: 'NanumSquare';
}
.container {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #fafafa;
  overflow: auto;
  position: relative;
  padding-bottom: 200px;
}