@charset "utf-8";

.view_wrap {
  textarea {
    color: #222;
    font-family: "Pretendard-Regular";
    // src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-size: 1.6rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.04em;
  }
  margin: 0 auto 80px;
  width: 86%;
  .topic {
    margin-top: 20px;
    padding: 20px 0;
    .gray {
      color: #aaa;
    }
    & > h4 > span:nth-of-type(1),
    & > h4 > span:nth-of-type(3) {
      cursor: pointer;
    }
    & > h4 > span:nth-of-type(2) {
      margin: 0 8px;
    }
  }
  .content_wrap {
    margin: 20px 0;
    .post_wrap {
      .post_header {
        padding-bottom: 20px;
        border-bottom: 1px solid #efefef;
        .post_header_info {
          margin-top: 12px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
          .writer_info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;
            height: 40px;
            & > img {
              width: 34px;
              height: 34px;
            }
            & > div > div {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
          }
          .options {
            display: flex;
            flex-direction: row;
            gap: 8px;
            .share,
            .kebab {
              position: relative;
              .share_list,
              .kebab_list {
                display: flex;
                flex-direction: column;
                gap: 8px;
                position: absolute;
                top: 20px;
                right: 4px;
              }
              .share_list {
                & > div {
                  display: flex;
                  align-items: center;
                  width: 106px;
                  padding: 6px 12px;
                  white-space: nowrap;
                  background-color: #fff;
                  border: 1px solid #aaa;
                  border-radius: 5px;
                  color: #222;
                  cursor: pointer;
                  & > img {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                  }
                }
              }
            }
          }
        }
      }
      .post_content {
        margin-top: 20px;
      }
      .likes {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #efefef;
        & > button {
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 10px 12px;
          border: 1px solid #aaa;
          border-radius: 5px;
          color: #aaa;
          & > img {
            width: 16px;
            height: 16px;
          }
          & > span {
            line-height: 20px;
          }
        }
        .like_on {
          background-color: #6269f5;
          border: #6269f5;
          color: #fff;
        }
        .dislike_on {
          background-color: #aaa;
          border: #aaa;
          color: #fff;
        }
      }
    }
  }
}

/* main end */
/* mobile-end */

@media screen and (min-width: 768px) {
  .view_wrap {
    textarea {
      font-size: 1.8rem;
    }
    margin-top: 80px;
    .topic {
      padding: 20px 40px;
      border: 1px solid #aaa;
      border-radius: 5px;
      background-color: #fff;
    }
    .content_wrap {
      border: 1px solid #aaa;
      border-radius: 5px;
      background-color: #fff;
      padding: 40px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .view_wrap {
    max-width: 1280px;
  }
}
